spacy>=3.7.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz
transformers>=4.40
torch>=2.0
py2neo>=2021.2
textract
fastapi[all]
uvicorn
streamlit
pydantic